.section {
    border-bottom: 1px solid black;
    flex: 1;
    display: flex;
    margin: 10px 20px 0 20px;
    flex-direction: column;
}

.header-section {
    flex: 1
}

.experience-section {
    border-bottom-width: 0;
    flex: 1
}

.education-section {
    flex: 1
}

.name {
    align-self: center;
}

.info {
    display: flex;
    justify-content: space-between;
}